h1{
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    color: white;
  }

  p{
    color: white;
  }
  body{
    background-color: black;
    text-align: center;
  }
  div{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
  }

  img{
    width: 100%;
    border: 5px solid white;
  }